@media(min-width: 768px){
.container1, .container2 {
    display: flex;
    
}
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(https://image.shutterstock.com/image-photo/winter-coming-text-scene-background-260nw-543528610.jpg);
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #777777;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -60px;
    text-align: center;
    overflow: auto;
}

.container1 {
margin-bottom: 10px;
}

.container2 {
    justify-content: space-between;
    height: 490px;
    padding-bottom: 20px;
    
}

.container1 div, .container2 div {
    padding: 15px;
    background: lightcyan;
    border: 5px, solid, #666666, medium;
}

.header {
    border: 5px, black, medium;
    flex: 1;
    margin: 0 px, 0px, 5px, 0px; 
    background: lightcyan;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-style: bold;
    box-sizing: border-box;
}

.images {
    flex: 2;
}

.mainContent {
    flex: 1;
}

p {
    text-align: center;
    font-size: 25px;
    line-height: 38px;
    font-style: bold;
}

.current-word {
    letter-spacing: 30px;
}

/*
.clearfix ::after {
    content: " ";
    clear: both; 
    display: table;
}

#container:after {
    content: "";
    display: block;
}
*/
#GOT, #targaryen, #lannister, #stark, #bolton, #baratheon {
    width: 600px;
    height: 450px;
    padding: 20x;
}
